---
layout: project
title: WildFly 8 Launch Page
---

WildFly 8 is Java EE 7 compliant, fast, lightweight, and flexible application server.

%br
%a{:href=>"http://wildfly.org/downloads/"}
  %img(src="#{site.base_url}/images/icon_download.png")
%a{:href=>"https://docs.jboss.org/author/display/WFLY8/Documentation"}
  %img(src="#{site.base_url}/images/icon_book.png")
%a{:href=>"http://wildfly.org/joinus/"}
  %img(src="#{site.base_url}/images/icon_community.png")

%h2 What can WildFly 8 do for me ?

WildFly brings you the latest innovations in application server technology, and

%ol
  %li is developer friendly with fast start-up, extensive tooling, and quickstarts
  %li supports Java EE standards and beyond
  %li is ideal for running in cloud environments where every cycle counts

New in WildFly 8, you can find

%ol
  %li Java EE 7 support
  %li A new high performance Web server (Undertow)
  %li Greatly reduced port usage
  %li Role based access controls and auditing
  %li Patching infrastructure

%br

<iframe src="//player.vimeo.com/hubnut/album/2727869?color=44bbff&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=1" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

%h2 I'm in! Where can I find more ?

%h3 Hands-on Labs
%img(src="#{site.base_url}/images/pdficon_large.png")
%a{:href=>"https://github.com/javaee-samples/javaee7-hol/blob/master/docs/javaee7-hol.pdf?raw=true"}
  Java EE 7 Application Development using WildFly
%br
%img(src="#{site.base_url}/images/pdficon_large.png")
%a{:href=>"https://github.com/arun-gupta/wildfly-lab/blob/master/docs/wildfly-lab.pdf?raw=true"}
  WildFly Administrative Lab (pdf)

%h3 Use it in the Cloud
%a{:href=>"https://www.openshift.com/quickstarts/wildfly-8"}
  %img(src="#{site.base_url}/images/openshift-logo.png")
%a{:href=>"http://www.cloudbees.com/press-room/cloudbees-adds-wildfly-support-java-ee-7-rolled-out-wildfly-8.cb"}
  %img(src="#{site.base_url}/images/cloudbees-logo.png")

%h3 Other tools that support WildFly 8
%a{:href=>"http://blog.arungupta.me/2013/12/getting-started-jboss-tools-wildfly-techtip-5/"}
  %img(src="#{site.base_url}/images/jbosstools-logo.png")
%a{:href=>"https://blogs.oracle.com/geertjan/entry/wildfly_simply_works_in_netbeans"}
  %img(src="#{site.base_url}/images/netbeans-logo.png")
%a{:href=>"http://blog.arungupta.me/2013/12/intellij-idea-13-javaee7-wildfly-tech-tip-4/"}
  %img(src="#{site.base_url}/images/intellij-logo.png")
%br
%br
%a{:href=>"http://fedoraproject.org/wiki/Changes/WildFly8"}
  %img(src="#{site.base_url}/images/fedora-logo.png")
%a{:href=>"http://goldmann.pl/blog/2013/10/07/wildfly-cluster-using-docker-on-fedora/"}
  %img(src="#{site.base_url}/images/docker-logo.png")
%a{:href=>"http://javaraver.wordpress.com/2013/09/16/gradle-wildfly-and-eclipse/"}
  %img(src="#{site.base_url}/images/gradle-logo.png")

%h3 Books
%a{:href=>"http://www.amazon.com/WildFly-8-Administration-Francesco-Marchioni-ebook/dp/B00HOGN0C8"}
  %img(src="#{site.base_url}/images/book_WildFly8Admin.png")
%a{:href=>"http://www.amazon.com/Beginning-Java-EE-Antonio-Goncalves/dp/143024626X"}
  %img(src="#{site.base_url}/images/book_BeginningJavaEE7.jpg")
%a{:href=>"http://shop.oreilly.com/product/0636920030614.do"}
  %img(src="#{site.base_url}/images/book_JavaEE7Essentials.gif")

%h3 Media
%ol
  %li
    %a{:href=>"http://jaxenter.com/wildfly-8-0-joins-roster-of-certified-java-ee7-apps-49456.html"}
      WildFly 8.0 joins roster of certified Java EE 7 apps
  %li
    %a{:href=>"http://www.colocationamerica.com/blog/wildfly-8-enterprise-software-and-the-future-of-java"}
      Wildfly 8, Enterprise Software and the future of Java

