---
layout: project
title: WildFly 8
---

:css

  .hero .row {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .cta h1 {
    font-size: 96px;
  }

  .cta a:hover {
    text-decoration: none;
  }

  ul li {
    padding-top: 0.5em;
  }

  img {
    padding: 4px;
  }

  ul.features li {
    padding-left: 15px;
  }

  ul.features i {
    color: #e3a835;
  }

  .videos iframe {
    padding-top: 2em;
  }

  .row.find-more {
    padding-bottom: 2em;
    padding-top: 1em;
  }

  .hero {
    color: #e1eef4;
    background-image: url('../images/wf8_bkg.png');
  }

  .cta {
    color: #c5e2c7;
  }

  .hero a {
    color: #c5e2c7;
  }

  .hero h1 {
    font-size: 72px;
  }
  
  h2 {
    color: #4a5d75;
  }

.row
  .span12.hero
    .row
      .offset2.span8
        .row
          .span8.text-center
            %h1 WildFly 8
        .row.cta
          .span3.text-center
            %a{:href=>"http://wildfly.org/downloads/"}
              %h1.icon-download-alt
              %h4 See the downloads
          .span2.text-center
            %a{:href=>"https://docs.jboss.org/author/display/WFLY8/Documentation"}
              %h1.icon-book 
              %h4 View the documentation
          .span3.text-center
            %a{:href=>"http://wildfly.org/joinus/"}
              %h1.icon-user
              %h4 Join our community

.row
  .span12
    %h2 Resources
    %hr

.row.find-more
  .span6
    %h3 Books
    %a{:href=>"http://www.amazon.com/WildFly-8-Administration-Francesco-Marchioni-ebook/dp/B00HOGN0C8"}
      %img(src="#{site.base_url}/images/book_WildFly8Admin.png")
    %a{:href=>"http://www.amazon.com/Beginning-Java-EE-Antonio-Goncalves/dp/143024626X"}
      %img(src="#{site.base_url}/images/book_BeginningJavaEE7.jpg")
    %a{:href=>"http://shop.oreilly.com/product/0636920030614.do"}
      %img(src="#{site.base_url}/images/book_JavaEE7Essentials.gif")

  .span6.videos
    %h3 Videos
    <iframe src="//player.vimeo.com/hubnut/album/2727869?color=44bbff&amp;background=000000&amp;slideshow=1&amp;video_title=1&amp;video_byline=1" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

.row.find-more
  .span6
    %h3 Hands-on Labs

    %ul.unstyled
      %li
        %a{:href=>"https://github.com/javaee-samples/javaee7-hol/blob/master/docs/javaee7-hol.pdf?raw=true"}
          %i.icon-book
          Java EE 7 Application Development using WildFly
      %li
        %a{:href=>"https://github.com/arun-gupta/wildfly-lab/blob/master/docs/wildfly-lab.pdf?raw=true"}
          %i.icon-book
          WildFly Administrative Lab
      %li
        %a{:href=>"http://htmlpreview.github.io/?https://github.com/arun-gupta/wildfly-deck/blob/master/deck/slides.html"}
          WildFly 8 Slide Deck

  .span6
    %h3 Tools
    %a{:href=>"http://www.jboss.org/tools"}
      %img(src="#{site.base_url}/images/jbosstools-logo.png")
    %a{:href=>"https://blogs.oracle.com/geertjan/entry/wildfly_simply_works_in_netbeans"}
      %img(src="#{site.base_url}/images/netbeans-logo.png")
    %a{:href=>"http://www.jetbrains.com/idea/"}
      %img(src="#{site.base_url}/images/intellij-logo.png")
    %a{:href=>"https://docs.jboss.org/wildfly/plugins/maven/latest/index.html"}
      Maven Plugin

.row
  .span12
    %h2 Media
    %hr

.row.find-more
  .span6
    %h3 Blogs
    %ul
      %li
        %a{:href=>"http://wildfly.org/news/2014/02/11/WildFly8-Final-Released/"}
          WildFly 8 Final is released! (Jason Greene)
      %li
        %a{:href=>"http://blog.arungupta.me/2014/02/wildfly-8-is-now-available/"}
          WildFly 8 is now available! (Arun Gupta)
      %li
        %a{:href=>"http://blog.c2b2.co.uk/2014/02/wildfly-800final-is-released.html"}
          WildFly 8.0.0.Final is Released (C2B2 Consulting)
      %li
        %a{:href=>"http://www.mastertheboss.com/jboss-log/read-wildfly-8-log-files-using-the-cli"}
          Read WildFly 8 log files using the CLI
      %li
        %a{:href=>"https://community.jboss.org/people/fjuma/blog/2014/02/14/wildfly-8-final-on-openshift"}
          WildFly 8 Final on OpenShift (Farah Juma)
      %li
        %a{:href=>"http://www.heise.de/developer/artikel/Ein-etwas-anderer-Blick-auf-WildFly-8-2115620.html"}
          A slightly different view on WildFly 8 (German) (Markus Eisele)
      %li
        %a{:href=>"http://www.sewatech.fr/article-wildfly-8.html"}
          The news WildFly 8 (French) (Alexis Hassler)
      %li
        %a{:href=>"http://jtips.info/index.php?title=Cat%C3%A9gorie:WildFly"}
          WildFly wiki (French)
      %li
        %a{:href=>"http://www.radcortez.com/custom-principal-and-loginmodule-for-wildfly/"}
          Custom principal and loginmodule for WildFly (Roberto Cortez)

  .span6
    %h3 Media
    %ul
      %li
        %a{:href=>"http://www.infoq.com/news/2014/02/wildfly8-launch"}
          Red Hat's JBoss Team Launch WildFly 8 with full Java EE 7 Support and a New Embeddable Web Server
      %li
        %a{:href=>"http://www.infoq.com/news/2014/02/wildfly8-interview"}
          Interview with WildFly Lead Jason Greene on WildFly 8
      %li
        %a{:href=>"http://jaxenter.com/wildfly-8-0-joins-roster-of-certified-java-ee7-apps-49456.html"}
          WildFly 8.0 joins roster of certified Java EE7 apps
      %li
        %a{:href=>"http://www.colocationamerica.com/blog/wildfly-8-enterprise-software-and-the-future-of-java"}
          Wildfly 8, Enterprise Software and the future of Java
      %li
        %a{:href=>"http://jaxenter.com/taking-wildfly-8-for-a-test-drive-49461.html"}
          Taking WildFly 8 for a test drive
      %li
        %a{:href=>"http://martijndashorst.com/blog/2014/01/14/netbeans-8-nightly-impressive-first-day/"}
          NetBeans 8 Nightly: Impressive First Day
      %li
        %a{:href=>"http://blog.bitnami.com/2014/02/the-new-jboss-as-is-out-wildfly-new.html"}
          The new JBoss AS is out: WildFly, a new cutting-edge web server and much more.
      %li
        %a{:href=>"http://www.tecmint.com/wildfly-a-new-improved-jboss-application-server-for-linux/"}
          WildFly – A New Improved JBoss Application Server for Linux
      %li
        %a{:href=>"http://jdevelopment.nl/wildfly-8-benchmarked"}
          WildFly 8 benchmarked

