---
layout: rightcol
title:  Downloads
rightcol_partial: rightcol-downloads.html.haml
description: List of releases available for download 
---
%h2 Downloads
.well{:style=>"background-color: white;"}
  %p 
    The technology behind WildFly is also available in JBoss Enterprise Application Platform 7. JBoss EAP is a hardened enterprise subscription with Red Hat's world-class support, long multi-year maintenance cyles, and exclusive content. You can download EAP for free, for development use.
  %br
  .row-fluid
    .span5
      %a.btn.btn-success.btn-block{:href=>'http://developers.redhat.com/products/eap/download/'}
        %h5
          %i.icon-download-alt
            Get The Latest JBoss EAP Release!
.well{:style=>"background-color: white;font-size: 16px;padding-top: 8px; padding-bottom: 8px;"}
  %i.icon-thumbs-up 
  &nbsp;For the most recent development releases, check out our 
  %a{:href=>"https://developer.jboss.org/thread/224262"}
    Nightly Builds.
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th Version
    %th Date
    %th Description
    %th License
    %th Size
    %th Format
    %th Checksum
  %tbody
    - for release in site.releases
      %tr
        %td #{release[:version]}
        %td #{release[:date]}
        - if release[:certified]
          %td Java EE Full &amp; Web Distribution 
        - if not release[:certified]
          %td Application Server Distribution
        %td LGPL
        %td.download-size #{release[:zip][:size]} 
        %td
          %a{:href=>release[:zip][:url]} 
            %i.icon-download-alt
            ZIP
        %td
          - if release[:zip].has_key?(:hashurl)
            %a{:href=>release[:zip][:hashurl],:type=>"text/plain"} 
              = release[:zip][:hashtype]
      %tr
        %td
        %td 
        %td 
        %td  
        %td.download-size #{release[:tgz][:size]} 
        %td  
          %a{:href=>release[:tgz][:url]}
            %i.icon-download-alt
            TGZ
        %td
          - if release[:tgz].has_key?(:hashurl)
            %a{:href=>release[:tgz][:hashurl],:type=>"text/plain"} 
              = release[:tgz][:hashtype]
      - if release.has_key?("updateforversion")
        %tr
          %td
          %td 
          - if release.has_key?("updateforversionfull")
            %td Update Existing #{release[:updateforversion]} (Patched) Install
          - if not release.has_key?("updateforversionfull")
            %td Update Existing #{release[:updateforversion]} Install
          %td LGPL
          %td.download-size #{release[:update][:size]} 
          %td
            %a{:href=>release[:update][:url]} 
              %i.icon-download-alt
              ZIP
          %td
            - if release[:update].has_key?(:hashurl)
              %a{:href=>release[:update][:hashurl],:type=>"text/plain"} 
                = release[:update][:hashtype]
      - if release.has_key?("updateforversionfull")
        %tr
          %td
          %td 
          %td Update Existing #{release[:updateforversion]} (Full Zip) Install
          %td LGPL
          %td.download-size #{release[:updatefull][:size]}
          %td
            %a{:href=>release[:updatefull][:url]} 
              %i.icon-download-alt
              ZIP
          %td
            - if release[:updatefull].has_key?(:hashurl)
              %a{:href=>release[:updatefull][:hashurl],:type=>"text/plain"} 
                = release[:updatefull][:hashtype]
      - if release.has_key?(:servlet)
        %tr
          %td
          %td 
          %td Servlet-Only Distribution
          %td LGPL
          %td.download-size #{release[:servlet][:zip][:size]} 
          %td
            %a{:href=>release[:servlet][:zip][:url]} 
              %i.icon-download-alt
              ZIP
          %td
            - if release[:servlet][:zip].has_key?(:hashurl)
              %a{:href=>release[:servlet][:zip][:hashurl],:type=>"text/plain"} 
                = release[:servlet][:zip][:hashtype]
        %tr
          %td
          %td 
          %td 
          %td  
          %td.download-size #{release[:servlet][:tgz][:size]} 
          %td  
            %a{:href=>release[:servlet][:tgz][:url]}
              %i.icon-download-alt
              TGZ
          %td
            - if release[:servlet][:tgz].has_key?(:hashurl)
              %a{:href=>release[:servlet][:tgz][:hashurl],:type=>"text/plain"} 
                = release[:servlet][:tgz][:hashtype]
      %tr
        %td 
        %td 
        %td Application Server Source Code 
        %td LGPL 
        %td.download-size #{release[:srczip][:size]} 
        %td
          %a{:href=>release[:srczip][:url]}
            %i.icon-download-alt
            ZIP
        %td
          - if release[:srczip].has_key?(:hashurl)
            %a{:href=>release[:srczip][:hashurl],:type=>"text/plain"} 
              = release[:srczip][:hashtype]
      %tr
        %td
        %td  
        %td  
        %td 
        %td.download-size #{release[:srctgz][:size]}  
        %td
          %a{:href=>release[:srctgz][:url]}
            %i.icon-download-alt
            TGZ
        %td
          - if release[:srctgz].has_key?(:hashurl)
            %a{:href=>release[:srctgz][:hashurl],:type=>"text/plain"} 
              = release[:srctgz][:hashtype]
      - if release.has_key?("quickversion")
        %tr
          %td 
          %td 
          %td Quick Start Source Code
          %td AL 
          %td.download-size #{release[:quickstart][:size]} 
          %td
            %a{:href=>release[:quickstart][:url]}
              %i.icon-download-alt
              ZIP
            %a{:href=>"http://github.com/wildfly/quickstart"} (git)
          %td
      - if release.has_key?("quickstarts")
        %tr
          %td 
          %td 
          %td Quick Start Source Code
          %td AL 
          %td 
          %td
            %a{:href=>release["quickstarts"]}
              %i.icon-download-alt
              Source 
          %td
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>release[:notes]} 
            %i.icon-pencil 
              Notes 
        %td
      %tr
        - for i in 0..6
          %td &nbsp;
