---
layout: default
title:  Downloads 
description: List of releases available for download 
---

%h1 Downloads
.download-table
  %table{:width=>"100%"}
    %thead
      %th Version
      %th Date
      %th Description
      %th License
      %th Size
      %th Format

    %tbody
      - for release in site.releases
        %tr
          %td #{release[:version]}
          %td #{release[:date]}
          %td Application Server Distribution
          %td LGPL
          %td{:class=>"download-table-right"} #{release[:zip][:size]} 
          %td{:class=>"download-table"}
            %a{:href=>release[:zip][:url]} ZIP
        %tr
          %td
          %td 
          %td 
          %td  
          %td{:class=>"download-table-right"} #{release[:tgz][:size]} 
          %td{:class=>"download-table"}  
            %a{:href=>release[:tgz][:url]} TGZ
        %tr
          %td 
          %td 
          %td Application Server Source Code 
          %td LGPL 
          %td{:class=>"download-table-right"} #{release[:srczip][:size]} 
          %td{:class=>"download-table"} 
            %a{:href=>release[:srczip][:url]} ZIP
        %tr
          %td
          %td  
          %td  
          %td 
          %td{:class=>"download-table-right"} #{release[:srctgz][:size]}  
          %td{:class=>"download-table"}
            %a{:href=>release[:srctgz][:url]} TGZ
        %tr
          %td 
          %td 
          %td Quick Start Source Code
          %td AL 
          %td{:class=>"download-table-right"} #{release[:quickstart][:size]} 
          %td{:class=>"download-table"}
            %a{:href=>release[:quickstart][:url]} ZIP
            %a{:href=>"http://github.com/wildfly/quickstart"} (git)
        %tr
          %td 
          %td 
          %td Release Notes
          %td  
          %td
          %td
            %a{:href=>release[:notes]} link
  %br
  %br
