---
layout: rightcol
title:  Downloads
rightcol_partial: rightcol-downloads.html.haml
description: List of releases available for download 
---
%h2 Downloads
%table.table.table-bordered.table-striped.white-stripes
  %thead
    %th Version
    %th Date
    %th Description
    %th License
    %th Size
    %th Format
  %tbody
    - for release in site.releases
      %tr
        %td #{release[:version]}
        %td #{release[:date]}
        - if release[:certified]
          %td Java EE7 Full &amp; Web Distribution 
        - if not release[:certified]
          %td Application Server Distribution
        %td LGPL
        %td.download-size #{release[:zip][:size]} 
        %td
          %a{:href=>release[:zip][:url]} 
            %i.icon-download-alt
            ZIP
      %tr
        %td
        %td 
        %td 
        %td  
        %td.download-size #{release[:tgz][:size]} 
        %td  
          %a{:href=>release[:tgz][:url]}
            %i.icon-download-alt
            TGZ
      - if release.has_key?("updateforversion")
        %tr
          %td
          %td 
          - if release.has_key?("updateforversionfull")
            %td Update Existing #{release[:updateforversion]} (Patched) Install
          - if not release.has_key?("updateforversionfull")
            %td Update Existing #{release[:updateforversion]} Install
          %td LGPL
          %td.download-size #{release[:update][:size]} 
          %td
            %a{:href=>release[:update][:url]} 
              %i.icon-download-alt
              ZIP
      - if release.has_key?("updateforversionfull")
        %tr
          %td
          %td 
          %td Update Existing #{release[:updateforversion]} (Full Zip) Install
          %td LGPL
          %td.download-size #{release[:updatefull][:size]}
          %td
            %a{:href=>release[:updatefull][:url]} 
              %i.icon-download-alt
              ZIP
      - if release.has_key?(:servlet)
        %tr
          %td
          %td 
          %td Servlet-Only Distribution
          %td LGPL
          %td.download-size #{release[:servlet][:zip][:size]} 
          %td
            %a{:href=>release[:servlet][:zip][:url]} 
              %i.icon-download-alt
              ZIP
        %tr
          %td
          %td 
          %td 
          %td  
          %td.download-size #{release[:servlet][:tgz][:size]} 
          %td  
            %a{:href=>release[:servlet][:tgz][:url]}
              %i.icon-download-alt
              TGZ
      %tr
        %td 
        %td 
        %td Application Server Source Code 
        %td LGPL 
        %td.download-size #{release[:srczip][:size]} 
        %td
          %a{:href=>release[:srczip][:url]}
            %i.icon-download-alt
            ZIP
      %tr
        %td
        %td  
        %td  
        %td 
        %td.download-size #{release[:srctgz][:size]}  
        %td
          %a{:href=>release[:srctgz][:url]}
            %i.icon-download-alt
            TGZ
      - if release.has_key?("quickversion")
        %tr
          %td 
          %td 
          %td Quick Start Source Code
          %td AL 
          %td.download-size #{release[:quickstart][:size]} 
          %td
            %a{:href=>release[:quickstart][:url]}
              %i.icon-download-alt
              ZIP
            %a{:href=>"http://github.com/wildfly/quickstart"} (git)
      - if release.has_key?("quickstarts")
        %tr
          %td 
          %td 
          %td Quick Start Source Code
          %td AL 
          %td 
          %td
            %a{:href=>release["quickstarts"]}
              %i.icon-download-alt
              Source
      %tr
        %td 
        %td 
        %td Release Notes
        %td  
        %td
        %td
          %a{:href=>release[:notes]} 
            %i.icon-pencil 
              Notes
      %tr
        - for i in 0..5
          %td &nbsp;
