---
layout: default
---

%h1 Frequently Asked Questions

.row-fluid
  .span12
    %h2 Why Rename JBoss AS?
    %p
      JBoss AS was renamed to
      %b reduce confusion.
      When the JBoss Application Server (
      %a{:href=>""}JBoss AS
      ) project was launched in 1999, no one would have ever guessed at how successful the project would become.  Today, JBoss represents one of the finest Java EE application servers (
      %a{:href=>""}JBoss AS
      ), a large and vibrant community (the
      %a{:href=>""}JBoss Community
      ), and a successful commercial product (
      %a{:href=>""}JBoss Enterprise Application Platform
      ).
    %p
      The JBoss AS project continues to provide rapid innovation, cutting edge technology and an environment that inspires a developer to collaborate and contribute to the project's research and development.  The JBoss Community hosts nearly 100 projects focused on integration, business rules, processes, NoSQL, cloud, mobile, polyglot, messaging, tooling, alternative development frameworks and more.

    %p We asked you the community to help the JBoss AS project find a new name.
    %p
      %b WildFly
      , the new name for JBoss AS, was chosen through an election process held in November 2012.

%img{:src=>"#{site.base_url}/images/divider.png"}
.row-fluid
  .span12
    %h4 What does it mean for me, a JBoss AS user?
    %p Very little will change. The project will still be freely available.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 Will it cost me money?
    %p No. Free downloads of the project are, and will continue to be, publicly available.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 What besides the name of the project will be updated?
    %p Developer contact points such as IRC chat rooms, Issue Trackers, etc will be migrated over time to reflect the new name.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 How will the project be governed?
    %p There is no foreseeable change in how the project will be governed.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 What will the contribution model be?
    %p The contribution model may evolve in the future, but it is unaffected by this change.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 How is this different from the commercial offering?
    %p The project is focused on rapid innovation where new technologies can quickly be introduced.  It is best suited for early to advanced prototyping and development.  JBoss Enterprise Application Platform 6 is the commercial offering.  JBoss EAP provides an integrated, tested and certified Java EE platform.  JBoss EAP includes patches, updates, SLA-based support, multiyear maintenance policies and Red Hat Open Source Assurance.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 What does the term "JBoss" mean going forward?
    %p Currently there's a significant amount of confusion when using the term JBoss on its own between the project known as JBoss AS, the community known as JBoss Community and the commercial offerings, JBoss Enterprise Middleware. By renaming the project we hope to make it clear that JBoss, when used on its own, refers to JBoss Enterprise Middleware.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 How does this affect Maven artifacts?
    %p Maven GAVs will be updated gradually over time and only when a new name makes sense.  An example of when a change makes sense is when a newer version of a component or API breaks backward compatibility.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 Does this affect things like package names, configuration settings that has the word "jboss" in it?
    %p Package names and configuration settings will migrate to new names only when renaming makes sense. The rename of the codebase and configuration will occur as a gradual process.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 How does this affect API compatibility ?
    %p Packages will not be renamed until they break API compatibility.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 What does it mean for me, as a JBoss developer? namespace issues?
    %p Java EE standard APIs will remain the same. As the project continues to evolve and incorporate new technologies, you as a developer will see new package names appearing for jboss-specific APIs.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 How does this affect all of the projects?  Just projects with products or all projects?
    %p The scope of the rename is limited to JBoss AS. Additional projects that contain the JBoss prefix will gradually be updated as well.

%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 Is JBoss still going to be Open Source?
    %p Red Hat is committed to enabling community powered innovation. JBoss and WildFly will continue to be open source.

%img{:src=>"#{site.base_url}/images/divider.png"}

  .row-fluid
    .span12
      %h4 Where do I find documentation on older versions of JBoss AS?
      %p
        Don't worry about changing your bookmarks!
        %a{:href=>"http://www.jboss.org/jbossas", :target=>"_blank"}Documentation
        on older versions of JBoss AS will continue to exist where it does today.


%img{:src=>"#{site.base_url}/images/divider.png"}

.row-fluid
  .span12
    %h4 What is the new community brand?
    %p
      The community brand remains
      %a{:href=>"http://www.jboss.org", :target=>"_blank"}JBoss Community.
      The scope of the rename is limited to the JBoss AS project.
%br
%br
%br
