---
layout: project
title: WildFly Homepage
---

/ Main hero unit for a primary marketing message or call to action
.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %a{:href => "#{site.base_url}/downloads/"}
          %img(src="#{site.base_url}/images/wildflycarousel_14.png")
      /.item
      /  %a{:href => "#{site.base_url}/swarm/"}
      /    %img(src="#{site.base_url}/images/wildflycarousel_swarm.png")
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ section containing blog posts
.row-fluid
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'tweets.html.haml' )
