---
layout: splash
title: WildFly - JBoss Application Server has a new name... WildFly.

---

%header
  %nav
    .container
  %section.container
    %img{:src=>"#{site.logo_base_url}/splash_wildflylogo.png"}
    %h1 JBoss Application Server has a new name...
    %h2 and it's even #?!@ing faster.

%article
  .container
    %ul.row-fluid
      %li.span3
        %img{:src=>"#{site.base_url}/images/icon_fast.png"}
        .box
          %h3 Unparalleled Speed
          %p
            Even Faster.
      %li.span3
        %img{:src=>"#{site.base_url}/images/icon_lightweight.png"}
        .box
          %h3 Lightweight
          %p
            Small Memory Footprint
      %li.span3
        %img{:src=>"#{site.base_url}/images/icon_features.png"}
        .box
          %h3 New Features
          %p Targeting Java EE7

      %li.span3
        %img{:src=>"#{site.base_url}/images/icon_faq.png"}
        .box
          %h3 Questions?
          %p
            Have your questions answered on our
            %a{:href=>"#{site.base_url}/faq"}FAQ.



