---
layout: splash
title: WildFly - JBoss Application Server has a new name... WildFly.

---

%header
  %section.container-fluid
    %img{:src=>"#{site.base_url}/images/splash_wildflylogo.png"}
    %hgroup.hidden-phone
      %h1 JBoss Application Server has a new name...
      %h2.large and it's even #?!@ing faster.
  %nav
    .container
      The first Alpha of WildFly is coming soon
%article
  .container-fluid
    %ul.row-fluid
      %li.span3
        .hidden-phone
          %a{:href=>"#{site.base_url}/about/#speed"}
            %i.en-rocket
        .box
          .pull-left.visible-phone
            %a{:href=>"#{site.base_url}/about/#speed"}
              %i.en-rocket
          %h3 Unparalleled Speed
          %p
            %a{:href=>"#{site.base_url}/about/#speed"} Even Faster
      %li.span3
        .hidden-phone
          %a{:href=>"#{site.base_url}/about/#light"}
            %i.en-feather
        .box
          .pull-right.visible-phone
            %a{:href=>"#{site.base_url}/about/#light"}
              %i.en-feather
          %h3 Lightweight
          %p
            %a{:href=>"#{site.base_url}/about/#light"} Small Memory Footprint
      %li.span3
        .hidden-phone
          %a{:href=>"#{site.base_url}/about/#compliant"}
            %i.en-tools
        .box
          .pull-left.visible-phone
            %a{:href=>"#{site.base_url}/about/#compliant"}
              %i.en-tools
          %h3 New Features
          %p 
            %a{:href=>"#{site.base_url}/about/#compliant"} Targeting Java EE7
      %li.span3
        .hidden-phone
          %a{:href=>"#{site.base_url}/faq"}
            %i.en-help
        .box
          .pull-right.visible-phone
            %a{:href=>"#{site.base_url}/faq"}
              %i.en-help
          %h3 Questions?
          %p
            Have your questions answered on our
            %a{:href=>"#{site.base_url}/faq"} 
              FAQ.
