---
layout: default
title:  Social Links for WildFly - The Community Application Server
description:  WildFly is the new name of JBoss Application Server.  This page includes links on how you can get involved with the WildFly Community including IRC, Twitter, Google Plus, and newsletter.
---

%h1 Follow WildFly Developments

.row-fluid
  .span6
    %h4
      Forums & Issue tracking
    %p
      Participate in the
      %a{:href=>"#{site.wiki_url}", :target=>"_blank"}forums
    %p
      Participate in the
      %a{:href=>"https://issues.jboss.org/browse/WFLY", :target=>"_blank"}issue tracking
  .span6
    %h4
      IRC
    %p
      Talk direct with the developers on
      %a{:href=>"#{site.irc_url}"}#wildfly
      and
      %a{:href=>"#{site.irc_dev_url}"}#wildfly-dev
      on irc.freenode.net

.row-fluid
  .span6.offset3
    %img{:src=>"#{site.base_url}/images/divider.png", :alt=>"------------------------------------------"}
.row-fluid
  .span6
    %h4
      GitHub
    %p
      Get Involved!
    %p
      %a{:href=>"https://github.com/wildfly/wildfly"}https://github.com/wildfly/wildfly
  .span6
    %h4
      Newsletter
    %p
      %a{:href=>"http://www.jboss.org/developer/subscribe", :target=>"_blank"}Subscribe
      to the JBoss Developer Newsletter

.row-fluid
  .span6.offset3
    %img{:src=>"#{site.base_url}/images/divider.png", :alt=>"------------------------------------------"}

.row-fluid
  .span6
    %h4 Twitter
    %p
      Get news of new developments by following on Twitter:
      %a{ :href=>"https://twitter.com/wildflyas", :class=>"twitter-follow-button"}(data-show-count="false" data-lang="en")Follow @WildFlyAS
    %br.clearfix

    %h4 Google +
    %p
      .g-plus( data-href="//plus.google.com/104978988043603015502" data-rel="publisher")
        :javascript
          (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %br.clearfix
    %br.clearfix

  .span6
    %h4 Special thanks to:
    %p
      %a{ :href=>"http://www.jetbrains.com/idea/features/code_analysis.html",
        :style=>"display:block; background:#fff url(http://www.jetbrains.com/idea/opensource/img/all/idea468x60_white.gif) no-repeat 0 7px; border:solid 1px #26409f; margin:0;padding:0;text-decoration:none;text-indent:0;letter-spacing:-0.001em; width:466px; height:58px",
        :alt=>'Java IDE with unparalleled java code analyzer (600+ built-in inspections)',
        :title=>'Java IDE with unparalleled java code analyzer (600+ built-in inspections)'}
        %span{ :style=>'margin: 5px 0 0 61px;padding: 0;float: left;font-size: 12px;cursor:pointer;  background-image:none;border:0;color: #26409f; font-family: trebuchet ms,arial,sans-serif;font-weight: normal;text-align:left;'}Hooked on
        %span{ :style=>'margin:0 0 0 205px;padding:18px 0 2px 0; line-height:13px;font-size:13px;cursor:pointer;  background-image:none;border:0;display:block; width:255px; color:#26409f; font-family: trebuchet ms,arial,sans-serif;font-weight: normal;text-align:left;'}Java IDE with unparalleled java code <br/>analyzer (600+ built-in inspections)


