---
---

- if site.google_analytics
  = google_analytics_async

-# begin eloqua tracking
%script{ :type=>"text/javascript", :src=>"#{site.metrics_base_url}/j/elqNow/elqCfg.js"}
%script{ :type=>"text/javascript", :src=>"#{site.metrics_base_url}/j/elqNow/elqImg.js"}
-# end eloqua tracking

-# SiteCatalyst code version: H.25.4
-# Copyright 1996-2013 Adobe, Inc. All Rights Reserved
-# More info available at http://www.omniture.com
#oTags
  %script{:type=>"text/javascript", :src=>"#{site.metrics_base_url}/j/s_code.js"}
  :javascript
    var coreUrl = encodeURI(document.URL.split("?")[0]);
    var urlSplit = coreUrl.toLowerCase().split(/\//);
    var urlLast = urlSplit[urlSplit.length-1];
    var pageNameString = "";
    var siteName = "";
    var minorSectionIndex = 3
    if (urlLast == "") {
      urlSplit.splice(-1,1);
    }
    if (urlLast.search(/\./) >= 0) {
      if (urlLast == "index.html") {
        urlSplit.splice(-1,1);
      }
      else {
        urlSplit[urlSplit.length-1] = urlLast.split(".").splice(0,1);
      }
    }
    siteName = urlSplit[2].split(".")[1];
    s.prop14 = s.eVar27 = siteName || "";
    s.prop15 = s.eVar28 = urlSplit[minorSectionIndex] || "";
    s.prop16 = s.eVar29 = urlSplit[minorSectionIndex+1] || "";
    pageNameString = urlSplit.splice(3).join(" | ");
    s.pageName = "jboss | community | " + siteName + " | " + pageNameString;
    s.channel = "jboss | community";
    s.prop4 = s.eVar23 = encodeURI(document.URL);
    s.prop21 = s.eVar18 = coreUrl;
    s.prop2 = s.eVar22 = "en";
    s.prop3 = s.eVar19 = "us";

  %script{:type=>"text/javascript", :src=>"#{site.metrics_base_url}/j/rh_omni_footer.js"}
  %script{:type=>"text/javascript", :language=>"JavaScript"}
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  %noscript
    %a{:href=>"http://www.omniture.com", :title=>"Web Analytics"}
      %img{:src=>"https://smtrcs.redhat.com/b/ss/redhatcom,redhatglobal/1/H.25.4--NS/0?[AQB]&cdp=3&[AQE]",
      :height=>"1", :width=>"1", :border=>"0", :alt=>""}

-# End SiteCatalyst code version: H.25.4
