%footer.container
  .row-fluid
    .span2.offset1
      %h4 Navigate
      %ul
        %li
          %a{:href => "#{site.base_url}/about/", :title => "About"} About
        %li
          %a{:href => "#{site.base_url}/gethelp/", :title => "Get Help"} Get Help
        %li
          %a{:href => "https://community.jboss.org/en/wildfly?view=discussion", :title => "Forums"} Forums
        %li
          %a{:href => "#{site.base_url}/downloads/", :title => "Download"} Download
    .span2
      %h4 Follow Us
      %ul
        %li
          %a{:href => "#{site.base_url}/news/", :title => "News"} News
          %a{:href => "#{site.base_url}/news.atom", :title => "Atom"} (Atom Feed)
        %li
          %a{:href => "https://twitter.com/WildFlyAS", :title => "Twitter"} Twitter
        %li
          %a{:href => "https://plus.google.com/communities/103877841516607784660", :title => "Google+"} Google+
    .span2
      %h4 Contribute
      %ul
        %li
          %a{:href => "https://issues.jboss.org/browse/WFLY", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://github.com/wildfly/wildfly/fork", :title => "Fork"} Fork The Code
        %li
          %a{:href => "#{site.base_url}/joinus/", :title => "Join Us"} Join Us
        %li
          %a{:href => "#{site.base_url}/governance/", :title => "Governance"} Governance
    .span3.offset1
      %h4 LGPL 2.1 License
      %p All dependencies of this project are available under the LGPL or a compatible license.
  .row-fluid
    .span6.offset1
      %p{:style => "margin-top: 5px; font-size: 80%;"}
        © Copyright 2013 Red Hat, Inc.
        %br
        %i.icon-fire
        Made with
        %a{:href => "https://github.com/jbossorg/bootstrap-community", :style=>"text-decoration: underline;"}JBoss Community Bootstrap
        and
        %a{:href => "http://awestruct.org/", :style=>"text-decoration: underline;"}Awestruct
        %br
        %i.icon-globe
        This website is open source! If you want to improve it,
        %a{:href => "http://github.com/wildfly/wildfly.org", :style=>"text-decoration: underline;"}fork the project,
        and send a pull request.
        %br
        %i.icon-share
        Website released under
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;"}CC BY 3.0.
    .span3.offset1
      .jbossbadge
        %a{:href => "http://www.jboss.org/"}
          %img{:src => "http://static.jboss.org/theme/images/common/jbossbadge.png"}/
