!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? (page.site_title ? page.site_title : page.title) : site.title)
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }\
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name="keywords"){:content=>site.keywords}
    - if page.author
      %meta(name="author"){:content=>site.identities.lookup(page.author).name}
    - if site.noindex
      %meta(name="robots" content="noindex")
    - if site.url
      %link(rel="canonical"){:href=>site.url}
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container.dropdown
          %a.brand{ :href=>"#{site.base_url}" }
            WildFly
          %ul.nav
            %li.dropdown
              %a{ :id=>"CommunityMenu", :role=>"button", :class=>"dropdown-toggle" }(data-toggle="dropdown")
                Community
                %b.caret
              %ul.dropdown-menu
                %li{ :role=>"presentation"}
                  %a{ :role=>"menuitem", :tabindex=>"-1", :href=>"#{site.wiki_url}"} Wikis
                %li{ :role=>"presentation"}
                  %a{ :role=>"menuitem", :tabindex=>"-1", :href=>"#{site.forum_url}"} Developer Forum
                %li{ :role=>"presentation"}
                  %a{ :role=>"menuitem", :tabindex=>"-1", :href=>"#{site.mailing_list_url}"} Mailing Lists
                %li{ :role=>"presentation"}
                  %a{ :role=>"menuitem", :tabindex=>"-1", :href=>"#{site.chat_url}"} Chat
          %ul.nav
            %li
              %a{ :href=>"#{site.jira_url}"} Issue Tracker
          %ul.nav
            %li.dropdown
              %a{ :id=>"SourceCodeMenu", :role=>"button", :class=>"dropdown-toggle" }(data-toggle="dropdown")
                Source Code
                %b.caret
              %ul.dropdown-menu
                %li{ :role=>"presentation"}
                  %a{ :role=>"menuitem", :tabindex=>"-1", :href=>"#{site.github_url}"} GitHub
    .container
      ~ content
      %hr
      %footer
        %p &copy; Organization #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-dropdown.js"}
    %script{:type=>"text/javascript", :src=>"#{site.base_url}/javascripts/site.js" }
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
    - if site.google_plusone
      :javascript
        (function() {
          var po = document.createElement("script"); po.async = true; po.src = "https://apis.google.com/js/plusone.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();
    - if site.google_analytics
      = google_analytics_async
