---
layout: project
---
- author = site.authors[page.author];
.row-fluid
  .span8.post-bg
    = partial('post.html.haml', {"post" => page})
    %a.twitter-share-button{:href=>tweet_page_url(page.title, page.author, site.base_url+page.url),:target=>"_blank"}
      %span Tweet
    %script{:type => 'text/javascript'}
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .pagination.no-bottom-margin
      %ul
        %li{:class=>('disabled' unless page.next_post)}
          %a{:href=>page.next_post ? "#{site.base_url}#{page.next_post.url}" : '#'} &laquo; Newer
        %li
          %a(href="#")<= "Post " + (site.posts.index(page) + 1).to_s + " of " + site.posts.size.to_s
        %li{:class=>('disabled' unless page.previous_post)}
          %a{:href=>page.previous_post ? "#{site.base_url}#{page.previous_post.url}" : '#'} Older &raquo;
  .span4
    - if author
      .row-fluid
        .span12.well.post-bg 
          %h2<= author.name;
          %p
            %img.pull-right.portrait{:src=>"#{site.base_url}/images/#{author.avatar}"}
            %span.bio-size<=author.bio
          %p.bio-size
            %strong Location:&nbsp;
            = author.location
          %p.bio-size
            %strong Occupation:&nbsp;
            = author.occupation
    .row-fluid
      = partial('latest-news-sidebar.html.haml')
