!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? (page.site_title ? page.site_title : page.title) : site.title)
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name="keywords"){:content=>site.keywords}
    - if page.author
      %meta(name="author"){:content=>site.identities.lookup(page.author).name}
    - if site.noindex
      %meta(name="robots" content="noindex")
    - if site.url
      %link(rel="canonical"){:href=>site.url}
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    %header
      %nav
        .container
      %section{:class=>"container", :style=>"padding: -20px auto;"}
        %a{:href=>"#{site.base_url}/" }
          %img{ :src=>"#{site.logo_base_url}/splash_wildflylogo_small.png"}
    %article.secondary
      .container
        ~ content
    %footer
      .container
        %ul.row-fluid
          %li
            %a{ :href=>"#{site.base_url}/about"}About WildFly
          %li
            %a{ :href=>"#{site.base_url}/faq"}FAQ
          %li
            %a{ :href=>"#{site.base_url}/social"}Social
          %li
            %a{ :href=>"http://www.jboss.org"}
              %img{ :src=>"#{site.logo_base_url}/jbossbadge.png"}
      %a{ :href=>"http://www.redhat.com"}
        %img{ :src=>"#{site.logo_base_url}/redhat_logo.png"}
    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/jquery.min.js"}
    - if site.google_plusone
      :javascript
        (function() {
          var po = document.createElement("script"); po.async = true; po.src = "https://apis.google.com/js/plusone.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();
    - if site.google_analytics
      = google_analytics_async

