
!!! 5
%html(lang="en")
  %head
    = partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial , { "real_page" => page } )
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/blog.css"}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/asciidoctor-coderay.css", :media=>"screen" }
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :media=>"screen" }

    :css
      td.download-size {
        text-align: right;
        padding-right: 10px;
      } 

      .white-stripes tr:nth-child(even) {
        background-color: white;
      }
      .white-stripes tr:nth-child(odd) {
        background-color: none;
      }
  %body
    - if site.profile.eql?("staging") or site.profile.eql?("production")
      :plain
        <!--Place GTM Code just below the opening body tag -->
        <script>dataLayer = [{'channel' : 'WildFly', 'additional_tracking_code' : 'UA-40221748-1'}];</script>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJWS5L"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                 '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                 })(window,document,'script','dataLayer','GTM-NJWS5L');</script>
        <!-- End Google Tag Manager —> 

    / begin accesibility skip to top
    %ul#top.visuallyhidden
      %li
        %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
      %li
        %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
    .container#content

      .dropup
        %a#tab.tabnav-closed{:href => "https://www.redhat.com"} Red Hat

      = partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial , { "real_page" => page } )

      = partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial , { "real_page" => page } )
     
      %span#page
      ~ content

    = partial( page.projectfooter_partial.nil? ? 'projectfooter.html.haml' : page.projectfooter_partial , { "real_page" => page } )

    = partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial , { "real_page" => page } )

    %span.backToTop
      %a{:href => "#top"} back to top

    %script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
