!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? (page.site_title ? page.site_title : page.title) : site.title)
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1' }
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name="keywords"){:content=>site.keywords}
    - if page.author
      %meta(name="author"){:content=>site.identities.lookup(page.author).name}
    - if site.noindex
      %meta(name="robots" content="noindex")
    - if site.url
      %link(rel="canonical"){:href=>site.url}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css", :media=>"screen" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    ~content
    %footer
      .container-fluid
        %ul.row-fluid
          %li
            %a{ :href=>"#{site.base_url}/about"}About WildFly
          %li
            %a{ :href=>"#{site.base_url}/faq"}FAQ
          %li
            %a{ :href=>"#{site.base_url}/social"}Social
          %li
            %a{ :href=>"http://www.jboss.org"}
              %img{ :src=>"#{site.logo_base_url}/jbossbadge.png", :alt=>"A Red Hat JBoss Project"}
      %a{ :href=>"http://www.redhat.com"}
        %img{ :src=>"#{site.logo_base_url}/redhat_logo.png", :alt=>"Red Hat Shadowman"}
    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/jquery.min.js"}
    - if site.google_plusone
      :javascript
        (function() {
          var po = document.createElement("script"); po.async = true; po.src = "https://apis.google.com/js/plusone.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();
    -# Marketing & Metrics
    = partial("metrics.html.haml")
    -# Marketing - Segment Pixel - JBoss-Alpha 6 Specific Campaign 1 - DO NOT MODIFY WITHOUT CHECKING WITH RAYME
    %script{ :type=>"text/javascript", :src=>"http://rtb.inttrax.com/seg?add=684900&t=1"}

