!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? (page.site_title ? page.site_title : page.title) : site.title)
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1, minimum-scale=1' }
    %meta(name="description"){:content=>page.description ? page.description : site.description}
    - if site.keywords
      %meta(name="keywords"){:content=>site.keywords}
    - if page.author
      %meta(name="author"){:content=>site.identities.lookup(page.author).name}
    - if site.noindex
      %meta(name="robots" content="noindex")
    - if site.url
      %link(rel="canonical"){:href=>site.url}


    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css", :media=>"screen" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    ~content


    %footer
      .container
        %ul.row-fluid
          %li
            %a{ :href=>"#{site.base_url}/about"}About WildFly
          %li
            %a{ :href=>"#{site.base_url}/faq"}FAQ
          %li
            %a{ :href=>"#{site.base_url}/social"}Social
          %li
            %a{ :href=>"http://www.jboss.org"}
              %img{ :src=>"#{site.logo_base_url}/jbossbadge.png"}
      %a{ :href=>"http://www.redhat.com"}
        %img{ :src=>"#{site.logo_base_url}/redhat_logo.png"}
    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/jquery.min.js"}
    - if site.google_plusone
      :javascript
        (function() {
          var po = document.createElement("script"); po.async = true; po.src = "https://apis.google.com/js/plusone.js";
          var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
        })();

    -# Marketing & Metrics -- No Touchy

    - if site.google_analytics
      = google_analytics_async

    -# Marketing - Segment Pixel - JBoss-Alpha 6 Specific Campaign 1 - DO NOT MODIFY WITHOUT CHECKING WITH RAYME
    %script{ :type=>"text/javascript", :src=>"http://rtb.inttrax.com/seg?add=684900&t=1"}


    -# begin eloqua tracking
    %script{ :type=>"text/javascript", :src=>"http://www.redhat.com/j/elqNow/elqCfg.js"}
    %script{ :type=>"text/javascript", :src=>"http://www.redhat.com/j/elqNow/elqImg.js"}
    -# end eloqua tracking

    -# SiteCatalyst code version: H.21.
    :javascript
      var s_code=s.t();if(s_code)document.write(s_code)//--></script>

      if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    %noscript
      %a (href="http://www.omniture.com" title="Web Analytics")
        %img( src="https://smtrcs.redhat.com/b/ss/redhatjbossorg/1/H.21--NS/0?[AQB]&cdp=3&[AQE]" height="1" width="1" border="0" alt="")
    -# End SiteCatalyst code version: H.21.

